ripix==2.5.0
playsoundsimple-py==0.8.4
properties-py==1.2.1
urlopen2==1.4.0

pillow>=9.5
aiofiles>=23.1
rich>=13
mutagen>=1.45
textual>=0.43
platformdirs>=3.5
pydantic>=2.5
click>=8
validators>=0.20
typing-inspect>=0.9
typing-extensions>=4.6