/* ! Main Screen */
#_default  {
    layout: horizontal;
}

.screen-box {
    border: solid cornflowerblue;
    width: 1fr;
    height: 100%;
}

/* ! TEST CSS */
.test-box-1 {
    height: 4;
}

.test-box-2 {
    height: 4;
}

.test-box-border {
    border: solid cadetblue;
}

/* ! Elements CSS */
.indeterminate-progress-bar {
    height: 1;
}

.pass-one-width {
    width: 1;
}

.image-label {
    height: 1fr;
    width: 1fr;
    align: center middle;
    text-align: center;
}

/* ! MUSIC LIST */
.music-list-view {
    height: 1fr;
}

.music-list-view-item {
    height: 4;
}

.music-list-view-item-title-label {
    height: 1;
    color: #cacaca;
}

.music-list-view-item-subtitle-label {
    height: 1;
    color: #a9a9a9;
}

.music-list-screen-add-box {
    height: 3;
}

.music-list-screen-add-input {
    width: 3fr;
}

.music-list-screen-add-button {
    width: 1fr;
}

/* ! Play Screen */
.player-visual-panel {
    border: solid cadetblue;
    height: 1fr;
}

.player-contol-panel {
    border: solid cadetblue;
    height: 7;
}

.box-buttons-sound-control {
    height: 3;
}

.button-sound-control {
    width: 1fr;
}

.music-selected-label {
    width: 1fr;
    height: 1;
    align: center middle;
    text-align: center;
}
